
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank you</h2>
<br>
<br>
<p>
    Thank you for Your Order, when your payment is processed, you will recieve an email from us, <br />
    with Your Order Number and the PayPal Transaction detail.
</p>
<br />
<br>
<p></p>
<br />
<p>Have a Great Motoring Day!</p>


